*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-row {
    display: flex;
}

.grid-col {
    flex: 1;
    margin: 0 1rem;
}

.grid-col-4 {
    flex: 4;
    margin: 0 1rem;
}

.grid-col-8 {
    flex: 12;
    margin: 0 1rem;
}

.grid-col-12 {
    flex: 12;
    margin: 0 1rem;
}