body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-container {
  margin-left: 120px;
  margin-right: 120px;
  /* margin-top: 50px; */
}

.bordered-overlapping {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  margin-bottom: -1px;
}

.vspaced-children-5 > * {
  margin: 5px 0;
}

.vspaced-children-10 > * {
  margin: 10px 0;
}

.table-row-button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  text-align: center;
  display: inline-block;
  
  min-width: 28px;
  height: 28px;

  font-size: 10px;
}

.table-row-button {
  background: rgb(255, 255, 255);
}

.table-row-button:active {
  background: rgb(191, 192, 191);
}

.call-to-action {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  text-align: center;
  display: inline-block;
  max-width: 100%;
  width: 100%;
  padding: 10px;
  font-size: 14px; 
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.call-to-action.-lightgreen {
  background: #3ADD40;
  color: #fff;
}

.call-to-action.-lightgreen:active {
  background: #35D83B;
}

.call-to-action.shadowed {
  box-shadow: 0px 3px rgba(0,0,0,0.1);
}

.text-bold {
  font-weight: bold;
}