.vertical-date-navigator > li {
    /* Overlapping borders  */
    border-top: 1px #7E7E7E solid;
    border-bottom: 1px #7E7E7E solid;
    margin-bottom: -1px;
}

.vertical-date-navigator {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-button {
    border: none;
    background: inherit;
    width: 100%;
}

.navigation-button:focus {
    background: rgb(238, 236, 236);
    border: none;
}