.project-log-table {
    width: 100%;
    margin: 18px 5px;
    border-collapse: collapse;
    color: #7E7E7E;
}

.project-log-table tbody {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.project-log-table td:nth-child(1) {
    width: 25%;
    text-transform: uppercase;
    font-weight: bold;    
}

.project-log-table td:nth-child(2) {
    min-width: 50%;    
}

.project-log-table td:nth-child(3) {
    width: 25%;
    min-width: 180px;
    text-align: right;
}

.worklog-actions {
    margin-left: 4px;
}

tr.worklog-table-row.-is-loading {
    animation: easeIn 0.5s linear;
    background: linear-gradient(180deg, #FE9A6B, #faa37b);
    color: white;
}

@keyframes easeIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);        
    }
}


tr.worklog-table-row.-is-saved {
    animation: easeOutBackgroundColor 1s linear;    
}

@keyframes easeOutBackgroundColor {
    0% {
        background: #FE9A6B;
        color: white;
    }

    50%{
        background: #faa37b;
    }

    100%{
        background-color: inherit;
    }
}